*~
*.cache/
*.go
*.log
*.m4
*.trs
*.pdf
*.aux
*.lod

scm/configure
scm/config.status
scm/Makefile
scm/Makefile.in
scm/pre-inst-env
scm/build-aux/

ml/_build

rs/automatic/target
rs/automatic/Cargo.lock
